@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: rgb(244, 244, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto';
  font-weight: 500;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 27px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 21px;
}

html, body, p, ul, li
{
  font-size: 16px;
}

.author-name{
  font-size: 32px;
  font-family: 'Roboto';
}

.author-title{
  font-size: 21px;
  font-family: 'Roboto';
  font-weight: 700;
}

.author-description{
  padding: 5px 0 20px 0;
  font-size: 16px;
  font-family: 'Roboto';
}